.vscode/**
.vscode-test/**
src/**
.gitignore
.gitattributes
.yarnrc
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
node_modules/**
build/**
out/test/**
media/**
!media/icon.png
